<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-store" />
                <add name="Pragma" value="no-cache" />
            </customHeaders>
        </httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".pac" mimeType="application/x-ns-proxy-autoconfig" />
		</staticContent>
    </system.webServer>
</configuration>